<!DOCTYPE html>
<html>
    <head>
        <title>ATN Shop</title>
        <style>
            div{
                margin: 5px;
                
            }
            
            *{
                box-sizing: border-box;
            }
            
            /*header*/
            /*#header1{
                text-align: center;
                font-size: 1cm;
            }
            #search{
                text-align: center;
            }

            /* menu */
           /* #menu ul{
                list-style-type: none;
                background: orangered;
                text-align: center;
            }

            #menu ul li{
                color: white;
                display: inline-table;
                width: 150px;
                height: 40px;
                line-height: 40px;
                position: relative;
            }

            #menu ul li a {
                color: black;
                text-decoration: none;
                display: block;
            }

            #menu ul li a:hover{
                background: white;
                color:black;
            }

            #menu ul li > .sub-menu{
                display: none;
                position: absolute;
            }

            #menu ul li:hover .sub-menu{
                display: block;
            }*/

            /* content */

            

           /* #main-content:after {
                content: "";
                clear: both;
                display: table;
            }

            #left-content{
                float: left;
                width: 33%;
                background: honeydew;
            }
            #right-content {
                float: left;
                width: 33%;
                background: honeydew;
            }

            #center-content{
                float: left;
                width: 32%;
                background: honeydew;
            }

            /* footer */
            .footer-top-section {
	background: #1f2430;
	padding-top: 127px;
	padding-bottom: 50px;
	margin-top: 20px;
	text-align: center;
}

.footer-widget {
	margin-bottom: 35px;
}

.footer-widget p {
	color: #fff;
	opacity: .55;
}

.footer-widget .fw-title {
	color: #fff;
	font-weight: 400;
	margin-bottom: 55px;
	padding-top: 20px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li {
	margin-bottom: 10px;
}

.footer-widget ul li a {
	font-size: 14px;
	color: #fff;
	opacity: 0.55;
}

.footer-widget.about-widget img {
	margin-bottom: 60px;
}

.footer-widget.about-widget p {
	padding-left: 1px;
}

.footer-widget .social-links {
	padding-top: 50px;
}

.footer-widget .social-links a {
	color: #fff;
	font-size: 14px;
	margin-right: 30px;
}

.footer-widget .social-links a:last-child {
	margin-right: 0;
}

.footer-section {
	background: white;
	overflow: hidden;
	padding: 17px 0;
}

.footer-nav {
	float: right;
}

.footer-nav ul {
	list-style: none;
}

.footer-nav ul li {
	display: inline;
}

.footer-nav ul li a {
	display: inline-block;
	color: #51555d;
	margin-left: 35px;
	font-size: 14px;
}

.copyright {
	float: left;
	padding-top: 3px;
}

.copyright p {
	font-size: 12px;
	margin-bottom: 0;
	color: #51555d;
}

.copyright p a {
	color: #51555d;
}

.copyright p a:hover {
	text-decoration: underline;
}

            
        </style>
    </head>

    <body>
        <!--header-->
        <!--<div id="header">
            <center><img src="images/GearVN_sao băng_03.jpg" alt=""width="1890px" height="850px"></center>
        </div>
        <div id="header1">
            <a href="Login.html">Log In</a>
        </div>
        <div id="search">
            <p><input type="search" style="border-radius: 100px" /> <input type="submit" id="btn" value="Search" /></p>
        </div>-->

        <!--menu-->
        <!--<div id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Top 100</a></li>
                <li><a href="#">PC</a>
                    <ul class="sub-menu">
                        <li><a href="pages/PC/PC Gaming.html">PC Gaming</a></li>
                        <li><a href="pages/PC/PC Office.html">PC Office</a></li>
                        <li><a href="pages/PC/PC Worktation.html">PC Worktation</a></li>
                    </ul>
                </li>
                <li><a href="pages/Screen.html">Album</a></li>
                <li><a href="#">Gear</a>
                    <ul class="sub-menu">
                        <li><a href="pages/Gear/Headphones.html">Headphones</a></li>
                        <li><a href="pages/Gear/Keyboards.html">Keyboards</a></li>
                        <li><a href="pages/Gear/Mouses.html">Mouses</a></li>
                    </ul>
                </li>
                <li><a href="index.html">Singers</a></li>
            </ul>
        </div>-->

        <!--content-->
        <!--<p></p>
        <div id="main-content">
            <div id="left-content">
                <a href="#">Best seller for PC</a>
                <div class="product">
                    <img src="image/gvn-navi_gearvn_a9c1de38c1c24d34bfe3e8e7399adf9e.jpg" alt="" width = "250px">
                    <h3 class="product_name">GVN Navi RTX 2070</h3>
                    <p class="product_price"> 28.000.000 VND</p>
                </div>
            </div>
            <div id="center-content">
                <a href="#">Best seller for Screen</a>
                <div class="product">
                    <img src="image/r271h_gallery_03.png" alt="" width="253px">
                    <h3 class="product_name">( IPS 24" 75Hz ) Acer R241Y - 3 viền mỏng chuyên Gaming 75Hz FREESYNC</h3>
                    <p class="product_price">4.000.000 VND</p> 
                </div>
            </div>

            <div id="right-content">
                <a href="#">Best seller for Gear</a>
                <div class="product">
                    <img src="image/a3c50cef194a3b64669878c36c1a2a35_4d3ffb813f7546d0be15f0a54211098f.jpg" alt="" width="250px">
                    <h3 class="product_name">Tai nghe Logitech G233 PRODIGY</h3>
                    <p class="product_price">1.900.000 VND</p> 
                </div>
            </div>
        </div>-->

        <footer class="footer-section">
                <div class="footer-nav">
                </div>
                <div class="copyright">
                    <center><p>><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Contact us with FaceBook <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/hieu.hau.927" target="_blank">NguyenNgocHieuHau</a></p></center>
        
             <!--<div class="footer-bottom">
                &copy; sTumaHz Shop | @2019
            </div>-->
        </div>
    </body>
</html>



<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<!--<div class="alert alert-primary" role="alert">
  DETAIls
</div>
