<%- include('partials/header') -%>

<!--menu-->
<div id="menu">
  <ul>
      <a href="https://atn-shop-hau.herokuapp.com/login">Log In</a>
      <li><a href="https://atn-shop-hau.herokuapp.com/">Home</a></li>
      <li><a href="https://atn-shop-hau.herokuapp.com/products">Products</a></li>
      <!--<li><a href="#">PC</a>
          <ul class="sub-menu">
              <li><a href="pages/PC/PC Gaming.html">PC Gaming</a></li>
              <li><a href="pages/PC/PC Office.html">PC Office</a></li>
              <li><a href="pages/PC/PC Worktation.html">PC Worktation</a></li>
          </ul>
      </li>-->
      <li><a href="https://atn-shop-hau.herokuapp.com/staffs">Staffs</a></li>
      <!--<li><a href="#">Gear</a>
          <ul class="sub-menu">
              <li><a href="pages/Gear/Headphones.html">Headphones</a></li>
              <li><a href="pages/Gear/Keyboards.html">Keyboards</a></li>
              <li><a href="pages/Gear/Mouses.html">Mouses</a></li>
          </ul>
      </li>-->
      <li><a href="https://atn-shop-hau.herokuapp.com/order">Order</a></li>
  </ul>
</div>
  <HR>
    <div class="alert alert-primary">
      <H1>
        PERSONAL PROFILE PAGE ! - 
          <%= stafflist[0].Name %>
        </H1>
    </div>
    <HR>

    <a href="/staffs"> ALL Staffs </a>

    <P><img src="/images/<%= stafflist[0].urlImg%>"></P>



<%- include('partials/footer') -%>
